@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Red+Rose:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text: rgb(219, 237, 255);
    --background: rgb(0, 15, 36);
    --blue: rgb(117, 177, 255);
    --dark-blue: rgba(117, 177, 255, 0.3);
    --purple: rgb(101, 0, 173);
    --dark-purple: rgba(101, 0, 173, 0.3);
    --pink: rgb(224, 26, 255);
}


body {
  font-family: 'Red Rose';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Francois One';
  font-weight: 700;
}

body {
    background-color: var(--background);
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: start;
    align-items: center;
    padding: 4rem;
    color: var(--text)
}

.todo-list {
    min-width: 35dvw;
    padding: 2rem;
    background-color: var(--dark-purple);
    border: 2px solid var(--purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form {
    width: 100%;
    display: flex;
    gap: 1rem;
}

input[type="text"] {
    border-radius: 0;
    padding: 0.5rem 1rem;
    flex: 1;
    width: 100%;
    font-weight: bold;
}

form > button {
    all: unset;
    border-radius: 0 !important;
    background-color: var(--blue);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.todo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #aaa;
}

.todo > label {
    width: 22dvw;
    max-width: 22dvw;
    white-space: nowrap;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    width: 1.5rem;
    aspect-ratio: 1/1;
    background-color: red;
}

